.timer-svg {
    transform: rotate(-90deg);
    /* Start from the top */
}

.timer-background {
    fill: none;
    stroke: #ddd;
    stroke-width: 8;
}

.timer-progress {
    fill: none;
    stroke: rgb(241, 149, 170);
    /* Adjust color as needed */
    stroke-width: 8;
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(0deg);
    /* Initial rotation */
    transition: transform 1s linear;
}

.timer-text {
    color: #ddd;
    font-size: 18px;
    fill: #333;
    /* Adjust color as needed */
    font-family: Arial, sans-serif;
}

.circular-timer {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circular-timer .timer{
    position: absolute;
    color: #fff;
    top: 40%;
}