.index-exam-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}

.cont-exam-page{
    width: 50%;
    box-shadow: 0px 5px 8px 2px rgba(43, 45, 66, 0.3);
}

.index-exam-page .header-alert {
    background-color: #fff;
    color: #fff;
}

.header-alert img{
    width: 100%;
}

.index-exam-page .index-exam-body{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.index-exam-page .index-exam-body .card{
    width: 420px;
    box-shadow: 0px 0px 8px 2px rgba(43, 45, 66, 0.2);
}

.index-exam-body .card a{
    background-color: rgb(43, 45, 66);
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
}

.index-exam-body .card .card-text{
    height: 120px;
}

.exam-page-header{
    height: 100VH;
}

.exam-page-header h3 {
    background-color: rgb(43, 45, 66);
    color: #fff;
    padding: 12px 0px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 5%;
}

.exam-page-header .header-alert {
    background-color: rgb(216, 0, 50, 0.5);
    color: #fff;
    width: 75%;
    margin: 15px auto;
    padding: 10px 0px;
    border-radius: 7px 7px 7px 7px;
}

.exam-page-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin: 0 auto;
}

.exam-page-center,
.exam-page-right {
    background-color: rgb(43, 45, 66, 0.1);
    border-radius: 7px 7px 0px 0px;
}

.exam-page-center h5,
.exam-page-right h5{
    border-radius: 7px 7px 0px 0px;
    background-color: rgb(43, 45, 66);
    color: #fff;
    padding: 15px 0px;
}

.exam-page-right {
    width: 25%;
    min-height: 240px;
}

.exam-page-center {
    width: 75%;
}

.card-button{
    background-color: rgb(43, 45, 66);
    color: #fff;
    padding: 5px 12px;
    outline: none;
    border: none;
}

.card-text{
    min-height: 100px !important;
    overflow: hidden;
}

@media (max-width: 540px) {
    .index-exam-page .header-alert {
        width: 100%;
    }

    .index-exam-page {
        height: 100vh;
        width: 90%;
        margin: 20px auto;
    }

    .exam-page-body {
        display: flex;
        flex-direction: column;

    }

    .index-exam-page .index-exam-body{
        flex-direction: column;
        gap: 15px;
    }

    .index-exam-page .index-exam-body .card {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 280px) {
    .index-exam-page .index-exam-body{
        flex-direction: column;
        gap: 15px;
    }
}