.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #2b2d42;
}

.social-icon {
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-icon a {
    font-size: 19px;
    margin: 10px;
}

.section-link {
    display: grid;
    grid-template-columns: 10% 10% 60%;
    width: 100%;
    justify-content: center;
    margin: 25px 0px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links:last-of-type {
    padding-left: 20px;
    border-left: 1px solid gray;
}

.links a {
    color: gainsboro;
    text-decoration: none;
}

.dash-footer {
    border-top: 0.5px solid gray;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    font-size: 12px;
}

.dash-footer a {
    text-decoration: none;
}

