.login-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: slideInDown 0.5s ease-in-out;
}

.login-page img {
  width: 60%;
}

.login-page form {
  width: 460px;
  padding: 20px;
  border: 1px solid lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 45, 66, 0.3);
}

.login-page form h3 {
  width: 80%;
  margin-bottom: 25px;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 0.5px solid #fff;
}

.login-page form input ,
.login-page form select{
  height: 50px;
  width: 80%;
  margin: 6px 0px;
  padding: 10px 15px;
  border: none;
  outline: none;
}

.login-page form button {
  margin-top: 25px;
  padding: 10px 30px;
  background-color: rgb(43, 45, 66);
  border: 1px solid rgba(255, 255, 255, 0.6);
  outline: none;
  color: #fff;
}

.alert {
  width: 460px;
  text-align: center;
  border-radius: 0;
  margin-top: 20px;
  padding: 20px 0px 5px;
  position: absolute;
  top: 0;
  color: #fff;
  background-color: #d80032;
  animation: fadeInDown 0.5s ease-in-out;
}

.to-register,
.to-login{
  width: 100%;
  color: rgb(43, 45, 66);
  line-height: 3.5;
  text-align: center;
}

.to-register a,
.to-login a{
  font-weight: 800;
  color: #d80032;
  text-decoration: none;
}